<footer id="footer">
  <div class="container">
    <div id="footer-outbound-links">
      <div class="Nxd-logo Vlt-white" id="footer-logo">
        <a href="/" id="logo" class="Nxd-logo__image">
          <%= image_tag asset_pack_path('media/logos/vonage-white.svg'), alt: 'Vonage Logo' %>
        </a>
        <hr class="Nxd-product__separator">
        <div class="Nxd-product__title">
          <h5 class="Vlt-white">Business Communications APIs</h5>
        </div>
      </div>
      <div id="footer-social-links">
        <a href="https://www.linkedin.com/company/vonage/" class="footer-link" target="_blank"><i class="icon icon-linkedin"></i></a>
        <a href="https://facebook.com/vonage" class="footer-link" target="_blank"><i class="icon icon-facebook"></i></a>
        <a href="https://twitter.com/vonage" class="footer-link" target="_blank"><i class="icon icon-twitter"></i></a>
        <a href="http://stackoverflow.com/questions/tagged/vonage" class="footer-link" target="_blank"><i class="icon icon-stack-overflow"></i></a>
      </div>
    </div>

    <div>
      <h5>Documentation</h5>
      <a href="/call-recording/overview">Call Recording</a>
      <a href="/provisioning/overview">Provisioning</a>
      <a href="/telephony/overview">Telephony</a>
      <a href="/reports/overview">Reports</a>
      <a href="/vonage-integration-platform/overview">Vonage Integration Platform</a>
      <a href="/smart-numbers/overview">Smart Numbers</a>
    </div>

    <div>
      <h5>API Reference</h5>
      <a href="/api/call-recording">Call Recording</a>
      <a href="/api/provisioning">Provisioning</a>
      <a href="/api/telephony">Telephony</a>
      <a href="/api/reports">Reports</a>
      <a href="/api/vonage-integration-platform">Vonage Integration Platform</a>
    </div>

    <div>
      <h5>Get to know us</h5>
      <a href="https://www.vonage.com/unified-communications/" target="_blank">Vonage Business Communications</a>
      <a href="https://www.vonage.com/corporate/careers/" target="_blank">Careers</a>
      <a href="https://www.vonage.com/corporate" target="_blank">Press</a>
    </div>

    <div id="footer-support">
      <h5>Support</h5>
      <a href="https://businesssupport.vonage.com/" target="_blank">Business Support</a>
      <a href="mailto:devsupport@vonage.com">Developer Support</a>
    </div>
  </div>
</footer>
