<div class="container">

  <div class="row">
    <div class="center">
      <h1 class="Vlt-title--margin-top2">Vonage Business Communications</h1>
      <p class="p-large">Integrate voice, call recordings and call events into your business workflows.</p>
    </div>
    <div class="columns small-12">
      <a name="products"></a>

      <div class="Nxd-products-list">
        <div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-voicemail-2" /></svg>
                <div class="Nxd-card--product__subtitle"><small>PROGRAMMABLE</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Call Recording
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/call-recording/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/call-recording/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/call-recording/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-address-book" /></svg>
                <div class="Nxd-card--product__subtitle"><small>MANAGEMENT</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Provisioning
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/provisioning/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/provisioning/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/provisioning/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
                <div class="Nxd-card--product__subtitle"><small>PROGRAMMABLE</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Telephony
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/telephony/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/telephony/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/telephony/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-report" /></svg>
                <div class="Nxd-card--product__subtitle"><small>REPORTING</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Reports
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/reports/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/reports/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/reports/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-plug" /></svg>
                <div class="Nxd-card--product__subtitle"><small>INTEGRATIONS</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Vonage Integration Platform
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/vonage-integration-platform/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/vonage-integration-platform/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/vonage-integration-platform/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-brain" /></svg>
                <div class="Nxd-card--product__subtitle"><small>INTEGRATIONS</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Smart Numbers
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/smart-numbers/guides"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/smart-numbers/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>