<div class="container">

  <div class="row">
    <div class="center">
      <h1 class="Vlt-title--margin-top2">Vonage Business Communication</h1>
      <p class="p-large">Hey Brian, change this tagline!</p>
    </div>
    <div class="columns small-12">
      <a name="products"></a>

      <div class="Nxd-products-list">
        <div class="Vlt-grid Vlt-grid--center Vlt-grid--margin-top2">

          <div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
                <div class="Nxd-card--product__subtitle"><small>DO SOMETHING WITH</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Smart Numbers
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/messaging/sms/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/smart-numbers/code-snippets/vbc-receive-inbound-call"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

<div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
                <div class="Nxd-card--product__subtitle"><small>DO SOMETHING WITH</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Smart Numbers
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/messaging/sms/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/smart-numbers/code-snippets/vbc-receive-inbound-call"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>

<div class="Vlt-col Vlt-col--1of3 Vlt-col--M-1of2">
            <div class="Vlt-card Vlt-article--reverse Vlt-card--image Nxd-card--products">
              <div class="Vlt-card__content">
                <svg class="Vlt-icon Vlt-icon--larger Vlt-purple"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-phone" /></svg>
                <div class="Nxd-card--product__subtitle"><small>DO SOMETHING WITH</small></div>

                <h2>
                  <a href="/smart-numbers/overview">
                    Smart Numbers
                  </a>
                </h2>
                <nav>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                         aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-home" /></svg>Overview</a>
                  <a href="/smart-numbers/overview"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                       aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-books" /></svg>Guides</a>
                  <a href="/messaging/sms/code-snippets"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                              aria-hidden="true">
                      <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-code" /></svg>Code Snippets</a>
                  <a href="/smart-numbers/code-snippets/vbc-receive-inbound-call"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-gray-darker"
                                                          aria-hidden="true">
                </nav>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
