---
openapi: 3.0.0
info:
  version: 1.11.9
  title: Provisioning API
  description: |
    The Vonage Business Communications Provisioning API enables you to retrieve information about accounts, users and extensions.

    Your application must subscribe to the Provisioning API suite to use this API.
  contact:
    name: "Vonage Business Communications Support"
    url: "https://businesssupport.vonage.com/contactus"
  termsOfService: "https://www.vonage.com/legal/unified-communications/tos/"

servers:
  - url: "https://api.vonage.com/t/vbc.prod/provisioning"
paths:
  "/api/accounts/{account_id}":
    get:
      operationId: AccountCtrl.getAccountServicesByAccountID
      parameters:
        - $ref: "#/components/parameters/AccountID"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountHalResponse"
        "404":
          description: Account not found
      security:
        - bearerAuth: []
      summary: Get account data by ID
      tags: 
        - account

  "/api/accounts/{account_id}/locations":
    get:
      operationId: AccountCtrl.getLocationsByAccountID
      parameters:
        - $ref: "#/components/parameters/AccountID"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationsHalResponse"
      security:
        - bearerAuth: []
      summary: Get account locations data by account ID
      tags: 
        - account

  "/api/accounts/{account_id}/locations/{location_id}":
    get:
      operationId: AccountCtrl.getLocationByID
      parameters:
        - $ref: "#/components/parameters/AccountID"
        - in: path
          name: location_id
          required: true
          schema:
            type: number
          description: The Vonage Business Communications location ID
          example: 327910
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationHalResponse"
        "404":
          description: Location not found
      security:
        - bearerAuth: []
      summary: Get location data by account ID and location ID
      tags: 
        - account

  "/api/accounts/{account_id}/extensions":
    get:
      operationId: ExtensionCtrl.getAccountExtensions
      parameters:
        - $ref: "#/components/parameters/AccountID"
        - in: query
          name: page_size
          required: false
          schema:
            type: number
          description: Number of records per page
          example: 10
        - in: query
          name: page
          required: false
          schema:
            type: number
          description: Current page number
          example: 10
        - in: query
          name: location_id
          required: false
          schema:
            type: number
          description: Filter by location id
          example: 145214
        - in: query
          name: phone_number
          required: false
          schema:
            type: string
          description: Filter by phone number
          example: "14155550100"
        - in: query
          name: login_name
          required: false
          schema:
            type: string
          description: Filter by login name
          example: "jsmith"
        - in: query
          name: email
          required: false
          schema:
            type: string
          description: Filter by email address
          example: "john.smith@example.com"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndUserRouteHalResponse"
        "400":
          description: Invalid parameters given
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorsResponse"
      security:
        - bearerAuth: []
      summary: Get account extensions data by account ID
      tags: 
        - extension

  "/api/accounts/{account_id}/extensions/{external_id}":
    get:
      operationId: ExtensionCtrl.getAccountExtensionByID
      parameters:
        - $ref: "#/components/parameters/AccountID"
        - in: path
          name: external_id
          required: true
          schema:
            type: number
          description: The unique id of the extension
          example: 789
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AltEndUserRouteHalResponse"
        "404":
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []
      summary: Get extension data by account ID and extension ID
      tags: 
        - extension

  "/api/accounts/{account_id}/users":
    get:
      operationId: UserCtrl.getUsers
      parameters:
        - $ref: "#/components/parameters/AccountID"
        - in: query
          name: page_size
          required: false
          schema:
            type: number
          description: Number of records per page
          example: 10
        - in: query
          name: page
          required: false
          schema:
            type: number
          description: Current page number
          example: 10
        - in: query
          name: first_name
          required: false
          schema:
            type: string
          description: Filter by first name
          example: "John"
        - in: query
          name: last_name
          required: false
          schema:
            type: string
          description: Filter by last name
          example: "Smith"
        - in: query
          name: login_name
          required: false
          schema:
            type: string
          description: Filter by login name
          example: "jsmith"
        - in: query
          name: email
          required: false
          schema:
            type: string
          description: Filter by email address
          example: "john.smith@example.com"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersHalResponse"
        "400":
          description: Invalid parameters given
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorsResponse"
      security:
        - bearerAuth: []
      summary: Get account users data by account ID
      tags: 
        - user

  "/api/accounts/{account_id}/users/{user_id}":
    get:
      operationId: UserCtrl.getUserByID
      parameters:
        - $ref: "#/components/parameters/AccountID"
        - in: path
          name: user_id
          required: true
          schema:
            type: number
          description: The Vonage Business Communications user ID
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserHalResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []
      summary: Get user data by account ID and user ID
      tags: 
        - user
        
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth
      
  parameters:
    AccountID:
      in: path
      name: account_id
      required: true
      schema:
        type: string
      description: The Vonage Business Communications account ID

  schemas:
    FirstHref:
      type: object
      properties:
        href:
          type: string
      description: URL to the first page of records

    PrevHref:
      type: object
      properties:
        href:
          type: string
      description: URL to the previous page of records

    SelfHref:
      type: object
      properties:
        href:
          type: string
      description: URL to the current page of records

    NextHref:
      type: object
      properties:
        href:
          type: string
      description: URL to the next page of records

    LastHref:
      type: object
      properties:
        href:
          type: string
      description: URL to the last page of records

    Location:
      type: object
      properties:
        id:
          type: number
          example: 327910
          description: Unique identifier of the location
        name:
          type: string
          example: "Headquarters"
          description: Name of the location
        address:
          $ref: "#/components/schemas/AddressWithTimeZone"

    Account:
      properties:
        id:
          type: number
          example: 571700
          description: Unique identifier of the account
        name:
          type: string
          example: "Vonage"
          description: Name of the account
        status:
          type: string
          example: "ACTIVE"
          description: Status of the account
        address:
          $ref: "#/components/schemas/Address"
      type: object

    Address:
      type: object
      properties:
        address_1:
          type: string
          example: "123 Example Street"
          description: Street portion of the address
        address_2:
          type: string
          example: "Apt. 456"
          description: Additional address information
        country:
          type: string
          example: "US"
          description: Country code
        state:
          type: string
          example: "NJ"
          description: State/Province code
        city:
          type: string
          example: "Holmdel"
          description: City name
        postal_code:
          type: string
          example: "07733"
          description: Postal code

    AccountEmbeddedObject:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Account"
      description: Account object

    AddressWithTimeZone:
      type: object
      properties:
        address_1:
          type: string
          example: "123 Example Street"
          description: Street portion of the address
        address_2:
          type: string
          example: "Apt. 456"
          description: Additional address information
        country:
          type: string
          example: "US"
          description: Country code
        state:
          type: string
          example: "NJ"
          description: State/Province code
        city:
          type: string
          example: "Holmdel"
          description: City name
        postal_code:
          type: string
          example: "07733"
          description: Postal code
        time_zone:
          type: string
          example: "America/New York"
          description: Time zone

    LocationsEmbeddedObject:
      type: object
      properties:
        data:
          items:
            $ref: "#/components/schemas/Location"
          type: array
      description: Collection of location objects

    LocationEmbeddedObject:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Location"
      description: Location object

    AccountHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 100
          description: Number of records per page
        page:
          type: number
          example: 1
          description: Current page number
        total_pages:
          type: number
          example: 10
          description: Total number of pages
        total_items:
          type: number
          example: 100
          description: Total number of records
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/AccountEmbeddedObject"

    LocationHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 100
          description: Number of records per page
        page:
          type: number
          example: 1
          description: Current page number
        total_pages:
          type: number
          example: 10
          description: Total number of pages
        total_items:
          type: number
          example: 100
          description: Total number of records
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/LocationEmbeddedObject"

    LocationsHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 100
        page:
          type: number
          example: 1
        total_pages:
          type: number
          example: 10
        total_items:
          type: number
          example: 100
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/LocationsEmbeddedObject"

    Links:
      type: object
      properties:
        first:
          $ref: "#/components/schemas/FirstHref"
        prev:
          $ref: "#/components/schemas/PrevHref"
        self:
          $ref: "#/components/schemas/SelfHref"
        next:
          $ref: "#/components/schemas/NextHref"
        last:
          $ref: "#/components/schemas/LastHref"

    BasicUser:
      type: object
      properties:
        id:
          type: number
          description: Unique ID of the user
          example: 2111111
        email:
          type: string
          description: Email address of the user
          example: "john.smith@example.com"
        login_name:
          type: string
          description: Login name of the user
          example: "jsmith"
        first_name:
          type: string
          description: First name of the user
          example: "John"
        last_name:
          type: string
          description: Last name of the user
          example: "Smith"

    DID:
      type: object
      properties:
        phone_number:
          type: string
          description: Phone number
          example: "14155550100"
        custom_tag:
          type: string
          description: Custom tag associated with the phone number
          example: "My Tag"

    Line:
      type: object
      properties:
        handset_name:
          type: string
          description: Name of the handset
          example: "line1-VH6370927"
        sip_id:
          type: string
          description: SIP identifier of the handset
          example: "VH16370927"

    EndUserRoute:
      type: object
      properties:
        extension_number:
          type: string
          description: Extension number
          example: "789"
        user:
          $ref: "#/components/schemas/BasicUser"
        location_id:
          type: number
          description: Unique identifier of the assigned location
          example: 145214
        vtt_enabled:
          type: boolean
          description: Voicemail transcription status of the location
          example: true
        dnd_enabled:
          type: boolean
          description: Do Not Disturb status of the extension
          example: false
        caller_id:
          type: string
          description: Caller ID of the extension
          example: "John Smith"
        external_id:
          type: string
          description: The unique identifier of the extension
          example: abc11111111111
        block_caller_id:
          type: boolean
          description: Block Caller ID status of the extension
          example: false
        dids:
          items:
            $ref: "#/components/schemas/DID"
          type: array
          description: Collection of phone numbers assigned to the extension
        extension_handsets:
          items:
            $ref: "#/components/schemas/Line"
          type: array
          description: Collection of handsets assigned to the extension

    EndUserRouteEmbeddedObject:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/EndUserRoute"

    EndUserRouteHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 10
          description: Number of records per page
        page:
          type: number
          example: 1
          description: Current page number
        total_pages:
          type: number
          example: 10
          description: Total number of pages
        total_items:
          type: number
          example: 100
          description: Total number of records
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/EndUserRouteEmbeddedObject"

    Contact:
      type: object
      properties:
        type:
          type: string
          description: Contact type
          example: "Home"
        value:
          type: string
          description: Contact value
          example: "14155550100"

    UserExtension:
      type: object
      properties:
        dids:
          items:
            $ref: "#/components/schemas/DID"
          type: array
          description: Collection of phone numbers assigned to the extension
        extension_number:
          type: string
          description: Extension number
          example: "789"

    User:
      type: object
      properties:
        email:
          type: string
          description: Email address of the user
          example: "john.smith@example.com"
        login_name:
          type: string
          description: Login name of the user
          example: "jsmith"
        first_name:
          type: string
          description: First name of the user
          example: "John"
        last_name:
          type: string
          description: Last name of the user
          example: "Smith"
        id:
          type: number
          description: Unique identifier of the user
          example: 869048
        contact_numbers:
          items:
            $ref: "#/components/schemas/Contact"
          type: array
          description: Collection of contact objects
        extensions:
          items:
            $ref: "#/components/schemas/UserExtension"
          type: array
          description: Collection of extension objects

    UsersEmbeddedObject:
      type: object
      properties:
        data:
          items:
            $ref: "#/components/schemas/User"
          type: array

    UserEmbeddedObject:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/User"

    UserHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 10
          description: Number of records per page
        page:
          type: number
          example: 1
          description: Current page number
        total_pages:
          type: number
          example: 10
          description: Total number of pages
        total_items:
          type: number
          example: 100
          description: Total number of records
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/UserEmbeddedObject"

    UsersHalResponse:
      type: object
      properties:
        page_size:
          type: number
          example: 10
          description: Number of records per page
        page:
          type: number
          example: 1
          description: Current page number
        total_pages:
          type: number
          example: 10
          description: Total number of pages
        total_items:
          type: number
          example: 100
          description: Total number of records
        _links:
          $ref: "#/components/schemas/Links"
        _embedded:
          $ref: "#/components/schemas/UsersEmbeddedObject"

    ErrorResponse:
      type: object
      properties:
        msg:
          description: Error message
          type: string
        status:
          description: Http Response Code
          type: number

    ValidationErrorsResponse:
      type: object
      properties:
        status:
          description: Error status code
          type: number
        title:
          description: Error title
          type: string
        instance:
          description: Error Track ID
          type: string
        invalid_parameters:
          items:
            $ref: "#/components/schemas/DetailedInvalidParam"
          description: Invalid parameters and their reason for failing
          type: array

    DetailedInvalidParam:
      type: object
      properties:
        name:
          type: string
          description: Invalid property name
        reason:
          type: string
          description: Invalid property reason

AltEndUserRouteHalResponse:
      type: object
      properties:
        _links:
          $ref: "#/components/schemas/AltLinks"
        _embedded:
          $ref: "#/components/schemas/AltEndUserRouteEmbeddedObject"

AltLinks:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/SelfHref"

AltEndUserRouteEmbeddedObject:
      type: object
      properties:
        extension:
          $ref: "#/components/schemas/AltEndUserRoute"

AltEndUserRoute:
      type: object
      properties:
        extension_number:
          type: string
          description: Extension number
          example: "789"
        user:
          $ref: "#/components/schemas/BasicUser"
        location_id:
          type: number
          description: Unique identifier of the assigned location
          example: 145214
        vtt_enabled:
          type: boolean
          description: Voicemail transcription status of the location
          example: true
        dnd_enabled:
          type: boolean
          description: Do Not Disturb status of the extension
          example: false
        caller_id:
          type: string
          description: Caller ID of the extension
          example: "John Smith"
        external_id:
          type: string
          description: The unique identifier of the extension
          example: abc11111111111
        service_type_name:
          type: string
          description: Service type name of the extension
          example: UX
        block_caller_id:
          type: boolean
          description: Block Caller ID status of the extension
          example: false
        dids:
          items:
            $ref: "#/components/schemas/DID"
          type: array
          description: Collection of phone numbers assigned to the extension
        extension_handsets:
          items:
            $ref: "#/components/schemas/Line"
          type: array
          description: Collection of handsets assigned to the extension
